nav a {
    font-family:'Oswald', sans-serif;
    font-size:12px;
    color:rgb(13, 9, 250);
    text-decoration:none;
    text-align:center;
    line-height:40px;
    height:40px;
    background-color:rgb(7, 253, 81);
    border-bottom:1px solid #888;
    transition:.3s background-color;
    display:block;
}
body{
    background-color:rgb(10, 172, 110);
}
h1{
    color:rgb(0, 0, 0);
    font-size:80px;
}
.desc{
    color:rgb(0, 0, 0);
    font-size:xx-large;
}
.conclue{
    font-size:60px;
}
href{
    font-size: 40px;
}
@media screen and (min-width: 615px) {
    .leftSideBar {
    width:20%;
    min-width:115px;
    margin-right:15px;
    }
    .rightSideBar {
    width:75%;
    }
    }